@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for dark theme */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #111827; 
}
::-webkit-scrollbar-thumb {
  background: #374151; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4B5563; 
}

body {
  background-color: #111827;
  color: #F3F4F6;
}
