body {
    font-family: sans-serif;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 600px; /* Adjust as needed */
}

.controls-container {
    background-color: #f8f9fa;
}

.color-a {
    color: #0d6efd;
}

.color-b {
    color: #dc3545;
}

.color-r {
    color: #6f42c1;
}

#result-display {
    font-family: monospace;
    font-size: 1.1rem;
}
